@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fontlibrary.org//face/fantasque-sans-mono');

.ͼ1.cm-editor {
  border-radius: .4rem;
}
.ͼ1.cm-editor.cm-focused {
  outline: none !important;
}
.ͼ1 .cm-gutter {
  min-width: 3ch !important;
}
.ͼp .cm-scroller {
  padding: .4rem;
}

/*
.ͼ1 .cm-foldGutter span {
  transition: color 0.25s ease 0s;
}
.ͼ1 .cm-foldGutter span:hover {
  color: white;
}
*/
